/* GENERAL  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #000;
  }

.text-center {
  text-align: center;
}

  /* LAYOUT */
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#top-bar {
  width: 100%;
  padding: 12px 15px 25px;
  font-size: 12px;
}

#top-bar .partecipants::after{
  content: '';
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  border: 4px solid transparent;
  border-top-color: white;
}

#main-windows {
  flex-grow: 1;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

#main-windows .user {
  position: relative;
  flex-basis: 30%;
  background: #666;
  border: 3px solid black;
  transition: border .4s;
}

#main-windows .user:hover {
  border-color: rgba(255, 255, 255 , 0.75);
}

#main-windows .user.active {
  border-color: lightgreen;
}

#main-windows .user img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#action-bar {
  background: #333;
}
